<!---Infosys innovation Team-->
<div ng-controller="TestExpressionController as testEctrl" class="row">
    <form id="frmTestExpression" ng-model="expressionObj">
        
            <div ng-show="showExpressionForm" class="widget widget-content">
                <table class="table">
                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Select Connection Source</b> <br />
                            <select ng-model="expressionObj.TestConnectionID" ng-options="testExp.TestConnectionID as testExp.TestConnctionName for testCon in testConnectionsDefined"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <b>Target Connection </b> <br />
                            <select ng-model="expressionObj.TestConnectionDestID"     ng-options="testExp.TestConnectionID as testExp.TestConnctionName for testCon in testConnectionsDefined"></select>
                        </td>

                        <typeScript>

                            $scope.testConnectionsDefined = null;
                            $scope.testTableSources = null;
                            $scope.testColumnsSources = null;
                            $scope.testOperands = null;
                            $scope.testColumnsTarget = null;
                            $scope.testExpressionMessage = null;
                            $scope.showSuccessCon = false;
                            $scope.showFailedCon = false;




                        </typeScript>
                  
                    </tr>
                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Select Source Table</b> <br />
                            <select ng-model="expressionObj.TestTableID" ng-options="testExp.TestTableID as testExp.TestTableName for testExp in testTableSources"></select>
                        </td>

                        <td class="col col-md-offset-1">
                            <b>Select Target Table</b> <br />
                            <select ng-model="expressionObj.TestTableTargetID" ng-options="testExp.TestTableID as testExp.TestTableName for testExp in testTableSources"></select>
                        </td>
                     
                    </tr>
                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Select Test Column Source</b> <br />
                             <select ng-model="expressionObj.SourceColumnID" ng-options="exprCol.TestColumnID as exprCol.TestColumnName for  in testColumnsSources"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <!---just simple operations equal to AND OR  complex symbol when ever this defined go check the sqlquery or oracle query -->
                            <b>Select Test Operation To Perform Between Source And Target Columns</b> <br />
                            <select ng-model="expressionObj.OperandIDApplied" ng-options="exprOper.TestOperandID as exprOper.TestOperName for  in testOperands"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <b>Select Test Column Target</b> <br />
                            <select ng-model="expressionObj.TargetColumnID" ng-options="exprCol.TestColumnID as exprCol.TestColumnName for  in testColumnsTarget"></select>
                        </td>
                    </tr>
                    <tr>
                            <td>
                                <textarea class="text text-left" id="txtArae" ng-model="expressionObj.Expression"/>
                            </td>

                    </tr>


                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Reason</b> <br />
                            <input  ng-model="reason" type="text" multiple="multiple"/> 
                        </td>

                    </tr>



                    <tr>
                        <td class="col col-md-offset-">
                            <button id="btnCaseSaveCon" class="btn btn-primary"> Save  </button>
                            <button id="btnCancel" class="btn btn-danger"> Cancel </button>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" class="col col-md-offset-2">
                            <label ng-show="showSuccessCon" id="btnSaveExpression" class="label label-success"> {{testExpressionMessage}}  </label>
                            <label ng-show="showFailedCon" id="btnCancelExpression" class="label label-danger"> {{testExpressionMessage}}  </label>
                        </td>
                    </tr>
                </table>

            </div>

        

    </form>


</div>