<!---Infosys innovation Team-->
<div ng-controller="TestExpressionController as testEctrl" class="row">
    <form id="frmTestExpression" ng-model="expressionObj">
        
            <div  ng-show="showColumnSelections" class="widget widget-content">
                <table class="table">
                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Select Connection Source</b> <br />
                            <select ng-model="expressionObj.TestConnectionID" ng-options="testExp.TestConnectionID as testExp.TestConnectionName for testExp in testConnectionsAll"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <b>Target Connection </b> <br />
                            <select ng-model="expressionObj.TestConnectionDestID"     ng-options="testExp.TestConnectionID as testExp.TestConnectionName for testExp in testConnectionsAll"></select>
                        </td>
         
                    </tr>
                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Select Source Table</b> <br />
                            <select ng-model="expressionObj.TestTableID" ng-options="testExp.TestTableID as testExp.TestTableName for testExp in testTableSources"></select>
                        </td>

                        <td class="col col-md-offset-1">
                            <b>Select Target Table</b> <br />
                            <select ng-model="expressionObj.TestTableTargetID" ng-options="testExp.TestTableID as testExp.TestTableName for testExp in testTableSources"></select>
                        </td>
                     
                    </tr>
                    <tr>
                        <td class="col col-md-offset-1">
                            <b>Select Test Column Source</b> <br />
                             <select ng-model="expressionObj.SourceColumnID" ng-options="exprCol.TestColumnID as exprCol.TestColumnName for  in testColumnsSources"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <!---just simple operations equal to AND OR  complex symbol when ever this defined go check the sqlquery or oracle query -->
                            <b>Select Test Operation To Perform Between Source And Target Columns</b> <br />
                            <select ng-model="expressionObj.OperandIDApplied" ng-options="exprOper.TestOperandID as exprOper.TestOperName for  in testOperands"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <b>Select Test Column Target</b> <br />
                            <select ng-model="expressionObj.TargetColumnID" ng-options="exprCol.TestColumnID as exprCol.TestColumnName for  in testColumnsTarget"></select>
                        </td>
                        <td class="col col-md-offset-1">
                            <button ng-click="showEditor()" type="button" class="btn btn-green"> Open Expression Editor </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="col col-md-offset-1">
                            <button  ng-click="saveExpression()" class="btn btn-primary"> Save  </button>
                            <button  ng-click="resetExpressionParams()" id="btnExpressionCancel" class="btn btn-danger"> Cancel </button>
                        </td>
                    </tr>
                    
                </table>
            </div>

        <div ng-show="showExpressionEdits" class="col col-md-offset-0">
            <div class="col col-md-offset-1">
              
           
            </div>

            <br />
            <button ng-click="backToExpressionColumnRule()" class="btn btn-primary"> Go To Column Comparison</button> <br />
            <br />
            <br />
          
               
             <button title="Save Expression" ng-click="saveExpressionEdit()" class="btn btn-primary">   
               <img src="images/Save.png" />
            </button>

            <button title="DeleteAll" ng-click="clearExpressionEdit()" class="btn btn-primary">
                <img src="images/delete.jpg" />
            </button> 
            <br />
           
            <textarea ng-model="areaVal" id="editExpressions" maxlength="2000" /> <br />
        
        </div>
              
     

    </form>
    

</div>